@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #20375d;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
